.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
  padding: 2.5rem; /*40px*/
}

.post + .post {
  margin-top: 2rem;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*author infos*/
.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  color: var(--gray-100);
  line-height: 160%;
}

.authorInfo strong {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 160%;
}

.post > header time {
  font-size: 0.875rem; /*14px*/
  color: var(--gray-400);
}

/*post content*/
.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
}

.content a:hover {
  color: var(--green-300);
}

/*Form*/
.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.commentForm > strong {
  color: var(--gray-100);
  line-height: 160%;
}

.commentForm textarea {
  width: 100%;
  background-color: var(--gray-900);
  border: 0;
  resize: none;
  height: 6rem; /*96px*/
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4rem;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background-color: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.1s;
}

.commentForm button:hover {
  background-color: var(--green-300);
}

.commentList {
  margin-top: 2rem;
}